@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="justify-content:center">
            <h1 style="text-align:center">Blazor Side</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
